.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.one-third-width-1x {
  width: 33%;
}

.one-third-width-2x {
  width: 33% * 2;
}

.one-third-width-3x {
  width: 33% * 3;
}

.quarter-width-1x {
  width: 25%;
}

.quarter-width-2x {
  width: 25% * 2;
}

.quarter-width-3x {
  width: 25% * 3;
};

.quarter-width-4x {
  width: 25% * 4;
}

.one-fifth-1x {
   width: 20%;
}

.one-fifth-2x {
   width: 20% * 2;
}

.one-fifth-3x {
   width: 20% * 3;
}

.one-fifth-4x {
   width: 20% * 4;
}

.one-fifth-5x {
   width: 20% * 5;
}
